#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* Fondo oscuro */
    color: #fff; /* Texto claro */
    text-align: center;
    z-index: 1000; /* Asegura que el encabezado esté sobre otros elementos */
    padding: 1.5rem;
    padding-right: 3rem;
}
/* Estilos globales */
body {
    font-family: "Arial", sans-serif;
    background-color: #222;
    color: #fff;
    margin-top: 6rem;
    padding: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

li {
    flex: 1 0 calc(33.333% - 20px); /* Ajusta según tu diseño */
    box-sizing: border-box;
    background: #000;
    overflow: auto;
    border-radius: 8px;
    padding: 20px;
}
li:hover {
    background: #333;
    scale: 1.05;
}
a img {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

img {
    aspect-ratio: 16/16;
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    object-fit: cover;
}

li:hover img {
    scale: 1.1;
}
p {
    margin-top: 8px;
    font-size: 1.1rem;
    line-height: 1.5;
}
li:hover p {
    padding: 0.5rem;
}

/* Estilos responsivos */
@media (max-width: 800px) {
    li {
        flex: 1 0 calc(50% - 20px); /* 2 columnas en dispositivos pequeños */
    }
}

@media (max-width: 500px) {
    #root {
        margin: 0;
        padding: 1rem;
    }

    li {
        flex: 1 0 calc(100% - 20px);
    }
}
